.ps-button {
	background-color: #1db954;
	border-radius: 40px;
	height: 60px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 30px 0 30px;
	border: 0;
	color: white;
	outline: 0;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	&:hover {
		background-color: #1ed760;
	}

	&--fullwidth {
		width: 100%;
		max-width: none;
	}
	&--size-md {
		height: 60px;
	}
	&--size-sm {
		height: 44px;
		min-width: 112px;
		font-size: 14px;
	}
}
